<h1 class="form__title">Login</h1>
<div class="container login">

<div class="form__input-group">
    <label for="email">Email: </label>
    <input type="email" id="email" #email type="text" placeholder="enter" class="form__input"  name="email">
   
</div>

<div class="form__input-group">
    <label for="pass">Password: </label>
    <input #pass type="password" class="form__input">
</div>

<div class="form__input-group">
    <button class="form__button" (click)="loginRequest(email.value, pass.value)">Login</button>
</div>
</div>
<!-- <div class="form__input-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="enter email" name="email">
</div>

<div class="form__input-group">
    <label for="passs">password</label>
    <input type="password" class="form-control" id="pass" placeholder="enter email" name="email">
</div>

<div class="checkbox">
    <label><input type="checkbox" name="remember">Remember Me</label>
</div>
<div class="form__input-group"></div>
<button class="form__button" (click)="loginRequest(email.value, pass.value)">Login</button>
</div> -->