<body>
  <div class="container">
    <div class="mobile">
      <div class="header">
        <div class="navigation">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="filter">
          <div class="calendar">
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="option">2022</div>
          <div class="select">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="total">
          <div class="label">Total balance</div>
          <div class="value">$32,058.98</div>
          <div class="balance">+ $3968,00</div>
        </div>

        <div class="cards">
          <div class="card green">
            <div class="item">
              <div class="label">At bank (1)</div>
              <div class="value">$140,230</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">3,53%</div>
            </div>
          </div>

          <div class="card magenta">
            <div class="item">
              <div class="label">At bank (2)</div>
              <div class="value">$23,453</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">0%</div>
            </div>
          </div>

          <div class="card gray">
            <div class="item">
              <div class="label">At bank (3)</div>
              <div class="value">$52,534</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">2.58%</div>
            </div>
          </div>

          <div class="card green">
            <div class="item">
              <div class="label">At bank (4)</div>
              <div class="value">$123,456</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">12,4%</div>
            </div>
          </div>

          <div class="card magenta">
            <div class="item">
              <div class="label">Revenues today</div>
              <div class="value">$1250.30</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">income</div>
            </div>
          </div>

          <div class="card gray">
            <div class="item">
              <div class="label">Saving</div>
              <div class="value">$0</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">0%</div>
            </div>
          </div>

          <div class="card magenta">
            <div class="item">
              <div class="label">---</div>
              <div class="value">$---</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">---%</div>
            </div>
          </div>

          <div class="card gray">
            <div class="item">
              <div class="label">---</div>
              <div class="value">$---</div>
            </div>
            <div class="balance">
              <div class="arrow-up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="value">---</div>
            </div>
          </div>

        </div>

        <ul class="menu">

          <div class="class="row w-100 price-card-body>Total balance</div>

        </ul>
        <div class="list">
          <div class="item1">
            <div class="section1">
              <div class="icon down">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="text">
                <div class="title">investment</div>
                <div class="description">Today, 13:45</div>
              </div>
            </div>
            <div class="section2">
              <div class="signal negative">-</div>
              <div class="value">$200.25</div>
            </div>
          </div>
          <div class="item2">
            <div class="section1">
              <div class="icon up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="text">
                <div class="title">investment</div>
                <div class="description">Today, 13:48</div>
              </div>
            </div>
            <div class="section2">
              <div class="signal positive">+</div>
              <div class="value">$263.20</div>
            </div>
          </div>
          <div class="item3">
            <div class="section1">
              <div class="icon down">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="text">
                <div class="title">investment</div>
                <div class="description">23.12.2021</div>
              </div>
            </div>
            <div class="section2">
              <div class="signal negative">-</div>
              <div class="value">$840.20</div>
            </div>
          </div>
          <div class="item4">
            <div class="section1">
              <div class="icon up">
                <i class="fas fa-arrow-up"></i>
              </div>
              <div class="text">
                <div class="title">investment</div>
                <div class="description">yesterday</div>
              </div>
            </div>
            <div class="section2">
              <div class="signal positive">+</div>
              <div class="value">$2201485123.30</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>