<div class="row w-100 price-card-body">
    <div class="col d-flex align-self-center">
        <span>
            {{priceItem.name}}
        </span>
        <span class="grey-color">
            /{{priceItem.tag}}
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span class="fs-20">
            ${{priceItem.price}}
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span class="fs-15">
            +{{priceItem.percentage}}%
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span class="fs-15">
            {{priceItem.overallPrice}}
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span>
            999,999,999,999.00
        </span>
    </div>
    <div class="col-auto align-items-center">
        <button class="trade-button">
            Trade
        </button>
    </div>
</div>