<div class="row row-cols-1 row-cols-sm-3 row-cols-md-6 price-card-body">
    <div class="col d-flex align-self-center">
        <span>
            {{priceItem?.fullName}}
        </span>
        <span class="grey-color">
            /{{priceItem?.name}}
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span class="fs-20">
            ${{sliceNumber9(priceItem?.price+"")}}
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span class="fs-15">
            {{sliceNumber9(priceItem?.dayChange+"")}}%
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span class="fs-15">
            {{sliceNumber16(priceItem?.marketCap+"")}}
        </span>
    </div>
    <div class="col d-flex align-self-center">
        <span>
            {{sliceNumber16(priceItem?.volume+"")}}
        </span>
    </div>
    <div class="col-auto align-items-center">
        <button class="trade-button">
            Trade
        </button>
    </div>
</div>