.nav-button {
    transition-duration: 200ms;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
}

.nav-button:hover {
    color: #ff0000;
    padding-top: 0px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f00;
}

.nav-button.active {
    color: #f00;
}

.nav-bar-style {
    background-color: #202020;
    color: #fff;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    transition-duration: 200ms;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin: 3px;
    /* width: 100px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%; */

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgb(0, 0, 0);
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #6e6d6c, #477063, #3e877c, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
}