.coming-soon-style {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ff00d4;
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    border-radius: 8px;
    width: fit-content;
}

.grey-color {
    color: #6e6e6e;
}

.fs-20 {
    font-size: 20px;
}

.fs-15 {
    font-size: 15px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
