
<div class="container-fluid  d-flex bd-highlight row row-cols-1 row-cols-sm-3 row-cols-md-6 price-card-body2" *ngFor="let item of botTable">

  <div class="h1 p-2 flex-fill bd-highlight">
    <span class="fs-15">
      {{item?.user}}
    </span>
  </div>
  <div class="h1 p-2 flex-fill bd-highlight">
    <span class="fs-15">
      {{item?.currency}}
    </span>
  </div>
  <div class="h1 p-2 flex-fill bd-highlight">
    <span class="fs-15">
      {{sliceNumber9(item?.price+"")}}
    </span>
  </div>
  <div class="h1 p-2 flex-fill bd-highlight text-success">
    <span>
      {{item?.action}}
    </span>
  </div>
  <div class="h1 p-2 flex-fill bd-highlight">
    <button class="trade-button" (click)="delite(item?.id)">
      Delete
    </button>
  </div>
</div>